<div class="layout">
  <form class="form" [formGroup]="clientForm" (ngSubmit)="submit()">
    <div class="row">
      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input [formControlName]="'first_name'" matInput placeholder="Имя" value="">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input [formControlName]="'last_name'" matInput placeholder="Фамилия" value="">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Отчество</mat-label>
        <input [formControlName]="'middle_name'" matInput placeholder="Отчество" value="">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Дата рождения</mat-label>
        <input [formControlName]="'birth_date'" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <p class="title">Пол</p>
      <mat-button-toggle-group [formControlName]="'sex'"  name="sex" aria-label="sex">
        <mat-button-toggle value="male">Мужской</mat-button-toggle>
        <mat-button-toggle value="female">Женский</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Номер телефона</mat-label>
        <input [formControlName]="'phone'" matInput placeholder="Номер телефона" value="">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Группа клиентов</mat-label>
        <mat-select [formControlName]="'group_of_clients'" multiple>
          <mat-option *ngFor="let group of clientGroupsList" [value]="group">{{group}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Координатор</mat-label>
        <mat-select [formControlName]="'coordinator'">
          <mat-option *ngFor="let coordinator of coordinatorsList" [value]="coordinator">
            {{coordinator}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-checkbox [formControlName]="'is_send_sms'" class="example-margin">Не отправлять СМС</mat-checkbox>
    </div>
    <div class="row flex jc-end mt-20">
      <button mat-raised-button color="primary" type="submit">Далее</button>
    </div>
  </form>
</div>
