<div class="layout">
  <div class="form">
    <div class="row">
      <mat-form-field>
        <mat-label>Индекс</mat-label>
        <input matInput placeholder="Индекс" value="">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Страна*</mat-label>
        <mat-select (selectionChange)="getCurrentCitiesList($event)">
          <mat-option
            *ngFor="let country of countryList"
            [value]="country.codename">
            {{country.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Область</mat-label>
        <input matInput placeholder="Область" value="">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Город*</mat-label>
        <mat-select>
          <mat-option *ngFor="let city of currentCitiesList" [value]="city">
            {{city}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Улица</mat-label>
        <input matInput placeholder="Улица" value="">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Дом</mat-label>
        <input matInput placeholder="Дом" value="">
      </mat-form-field>
    </div>
    <div class="row flex jc-end mt-20">
      <button mat-raised-button color="primary" class="mr-10" (click)="onPreviousStep()">Назад</button>
      <button mat-raised-button color="primary" (click)="onNextStep()">Далее</button>
    </div>
  </div>
</div>
