.layout {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 8px;
  }
}
