.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.no-wrap {
  flex-wrap: nowrap;
}
.dir-row {
  flex-direction: row;
}
.dir-col {
  flex-direction: column;
}
.jc-start {
  justify-content: start;
}
.jc-end {
  justify-content: end;
}
.jc-center {
  justify-content: center;
}
.jc-around {
  justify-content: space-around;
}
.jc-between {
  justify-content: space-between;
}
.ai-start {
  align-items: start;
}
.ai-center {
  align-items: center;
}
.ai-end {
  align-items: end;
}
