<div class="layout">
  <div class="form">
    <div class="row">
      <mat-form-field>
        <mat-label>Тип документа*</mat-label>
        <mat-select>
          <mat-option *ngFor="let documentType of documentTypesList" [value]="documentType">
            {{documentType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Серия</mat-label>
        <input matInput placeholder="Серия" value="">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Номер*</mat-label>
        <input matInput placeholder="Номер" value="">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Кем выдан</mat-label>
        <input matInput placeholder="Кем выдан" value="">
      </mat-form-field>
    </div>
    <div class="row flex jc-end mt-20">
      <button mat-raised-button color="primary" class="mr-10" (click)="onPreviousStep()">Назад</button>
      <button mat-raised-button color="primary" (click)="onNextStep()">Готово</button>
    </div>
  </div>
</div>
